<div class="container">
  <mat-card class="play-card" appearance="outlined">
    <form #f="ngForm" class="ticket-form" (ngSubmit)="onPlay()">
      <mat-card-header class="form-header">
        <mat-card-title class="form-title">Play the lottery</mat-card-title>
        <mat-card-subtitle class="form-subtitle">Enter your lucky numbers or just fill the fields randomly
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="form-content">
        <mat-form-field class="form-field" *ngFor="let i of [0,1,2,3,4,5]">
          <input matInput required min="1" max="99" type="number" name="{{i}}"
                 [(ngModel)]="ticketData.numbers[i]" [ngModelOptions]="{standalone: true}"
                 (ngModelChange)="updateNumber(i, $event)"
          >
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="btn-group">
        <button (click)="setRandomNumbers()" color="secondary" mat-stroked-button type="button" mat-button>RANDOM</button>
        <button color="submit" type="submit" mat-button>SUBMIT</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
