<header>
  <h1 class="mat-display-medium">{{ "home.header" | translate }}</h1>
</header>
<div class="container">
  <div class="card"><p>{{ "home.description" | translate }}</p>
    <h3>{{ "home.how-it-work" | translate }}</h3>
    <ul>
      <li><strong>{{ "home.list.login" | translate }}</strong> – {{ "home.list.login-desc" | translate }}</li>
      <li><strong>{{ "home.list.choose" | translate }}</strong> – {{ "home.list.choose-desc" | translate }}</li>
      <li><strong>{{ "home.list.wait" | translate }}</strong> – {{ "home.list.wait-desc" | translate }}</li>
      <li><strong>{{ "home.list.check" | translate }}</strong> – {{ "home.list.check-desc" | translate }}</li>
    </ul>
    <p>{{ "home.join-us" | translate }}</p>
    <h3>{{ "home.have-fun" | translate }}</h3>
  </div>
  <div class="lotto-image">
    <img ngSrc="{{imagePath}}" alt="lotto-image" height="450" width="600" priority>
  </div>
</div>
