:host{
  position: relative;
}
.spacer {

  flex: 1 1 auto;
}

.first-letter {
  font-weight: bold;
}

.mode-btn {
  margin-left: 0.5rem;
}

.btn-lang-group {
  position: absolute;
  top: 120%;
  right: 2%;
  .btn-lang {
    color: var(--main-font-color);
  }
}
