@use "@angular/material" as mat;

@import "themes";

:host {
  position: relative;
}

.spacer {

  flex: 1 1 auto;
}

.first-letter {
  font-weight: bold;
}

.mode-btn {
  margin-left: 0.5rem;
}

.btn-lang-group {
  position: absolute;
  top: 120%;
  right: 2%;

  .btn-lang {
    color: var(--main-font-color);
  }
}

.mdc-button.mat-mdc-button.mat-unthemed.mat-mdc-button-base.active-link, .active-link {
  color: mat.get-theme-color($theme, primary, 80);
}

.person-auth-icon {
  cursor: pointer;
  margin-left: 5px;

  &:hover {
    color: mat.get-theme-color($theme, primary, 80);
  }
}
