@use "@angular/material" as mat;

@import "themes";

.footer {
  background-color: mat.get-theme-color($theme,neutral, 10);
  color: white;
  text-align: center;
  padding: 10px 0;

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    margin-left: 5px;
    color: white;
    text-decoration: none;

    img {
      width: 25px;
    }

    div  {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  a:hover {
    color: #ff4081;
  }
}

