<app-card
  [title]="'play.ticketItem.title' | translate"
  [subtitle]="'play.ticketItem.subtitle' | translate"
>
  <div card-content class="content">
    <div class="info">
      <div class="left">{{ "play.ticketItem.ticketId" | translate }}:</div>
      <div class="right">{{ ticketId }}
        <mat-icon (click)="copyTicketId()">content_paste</mat-icon>
      </div>
    </div>
    <div class="info">
      <div class="left">{{ "play.ticketItem.drawDate" | translate }}:</div>
      <div class="right">{{ ticket?.drawDate | date }}
      </div>
    </div>
    <div class="info">
      <div class="left">{{ "play.ticketItem.numbers" | translate }}:</div>
      <div class="right">
        {{ numbers }}
      </div>
    </div>
  </div>
  <div card-actions class="btn-group">
    <button (click)="routerTo('play')" color="primary" mat-button><{{ "play.ticketItem.play" | translate }}</button>
    <button (click)="routerTo('results')" color="primary" mat-button>{{ "play.ticketItem.results" | translate }}>
    </button>
  </div>
</app-card>
